{% extends "layout.twig" %}

{% block content %}

<section class="page  page--default">


    <!-- Header -->
    {% include "includes/header.twig" %}

    <!-- Zone Content -->
    <div class="main-content">

            <div class="homepage-nav">

                {{widget('extendednavigation', 'extendednavigation',
                {"align":"center"})|raw}}

            </div>

            <div class="container">

                {{zone('main')|raw}}

            </div>

    </div>


</section>

{% endblock %}

